<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.mm.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logon</servlet-name>
    <servlet-class>com.mm.LogonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Proxy</servlet-name>
    <servlet-class>com.mm.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/authenticate/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Proxy</servlet-name>
    <url-pattern>/data/*</url-pattern>
    <url-pattern>/topics/*</url-pattern>
    <url-pattern>/lookup/*</url-pattern>
    <url-pattern>/crm/*</url-pattern>
    <url-pattern>/associate/*</url-pattern>
    <url-pattern>/blog/*</url-pattern>
    <url-pattern>/post/*</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>600</session-timeout>
  </session-config>
</web-app>